---
import RotacionForm from '../components/RotacionForm';
---

<html lang="es">
  <head>
    <title>KeeCLIMB - Calculadora</title>
  </head>
  <body>
    <h1>Calculadora de Ahorro</h1>
    <RotacionForm client:load />
  </body>
</html>